<div class="container">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">Add Contact</div>
        <div class="panel-body">
            <form ng-submit="add()">
                <div class="form-group">
                    <label for="name">Contact Token</label>
                    <textarea type="text" class="form-control" id="name" ng-model="token" placeholder="Contact Token"></textarea>
                </div>
                <input type="submit" value="Submit" class="btn btn-default" />
            </form>
        </div>
    </div>
</div>