<div class="container-fluid">
    <div class="col-md-3">
        <h3>Contacts</h3>

        <div class="list-group">
            <a ng-repeat="(key, contact) in contacts" ng-click="loadChat(key)" ng-href="#/chat/{{key}}" ng-init="contactObj = decryptContact(contact)" class="list-group-item">
                {{contactObj.displayName}}
            </a>
        </div>
    </div>
    <div class="col-md-9">

        <h3>Messages</h3>

        <div class="row">
            <div id="message-container" class="message-container">
                <div class="alert alert-warning" ng-hide="chat != null">
                    No conversation selected.
                </div>
                <div ng-repeat="message in chat.messages" class="panel panel-default" ng-init="mesObj = decryptItem(message)">
                    <div class="panel-body">
                        {{mesObj.from}}: {{mesObj.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <form class="navbar-form navbar-lef" role="form" ng-hide="chat == null">
                <div class="form-group message-bar">
                    <input type="text" class="form-control" ng-model="newMessage" placeholder="Message">
                </div>
                <button type="submit" ng-click="submitMessage()" class="btn btn-default">Send</button>
            </form>
        </div>
    </div>
</nav>